ZERO_UPSTREAM_DB="postgresql://postgres:postgres@127.0.0.1:5432/postgres"
ZERO_REPLICA_FILE="/tmp/sync-replica.db"
ZERO_QUERY_URL=http://localhost:3000/query
ZERO_MUTATE_URL=http://localhost:3000/push
